<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.laxture.lib.test">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:name=".TestApplication">

        <uses-library android:name="android.test.runner" />

        <activity android:name=".TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

    <instrumentation
        tools:replace="android:label,android:targetPackage"
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.laxture.lib.test"
        android:label="Tests for com.laxture.lib" />

</manifest>